<h1>{{title}}</h1>
<form class='example-form' #loginForm='ngForm' (ngSubmit)='onSubmit()' ngNativeValidate>
  <app-message [message]="message"></app-message>
  <table class='example-full-width' cellspacing='0'>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Username' name="username" [(ngModel)]="user.name" (focus)="clearMessage()">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Password' type='password' name="password" [(ngModel)]="user.password" (focus)="clearMessage()">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <button md-raised-button type="submit">Login</button>
      </td>
    </tr>
  </table>
</form>
