<app-message [message]="message"></app-message>
<md-card class="example-card">
  <md-card-header>
    <div *ngIf="change==false" class="example-header-image" [ngStyle]="{'background-image': 'url(' + photo + ')'}" md-card-avatar></div>
    <div *ngIf="change==true" class="example-header-image" [ngStyle]="{'background-image': 'url(' + url + ')'}" md-card-avatar></div>
    <md-card-title>{{username}}</md-card-title>
    <md-card-subtitle>{{email}}</md-card-subtitle>
  </md-card-header>
  <!-- File input for upload without using the plugin. -->
  <input *ngIf="change==false || uploaded==true" id="photo" type="file" (change)="readUrl($event)"/>
  <!-- button to trigger the file upload when submitted -->
  <button *ngIf="change==true && uploaded==false" type="button" (click)="upload()">Save</button>
  <img *ngIf="change==false" md-card-image [src]="photo">
  <button *ngIf="change==true && uploaded==false" (click)="change=false; uploaded=true">Cancel</button>
  <img *ngIf="change==true" md-card-image [src]="url">
  <md-card-content>
    <div>Age: <span #a contenteditable='' (blur)="saveAge(a.innerHTML)">{{age}}</span></div>
    <div>Height: <span #h contenteditable='' (blur)="saveHeight(h.innerHTML)">{{height}}</span></div>
    <div>Weight: <span #w contenteditable='' (blur)="saveWeight(w.innerHTML)">{{weight}}</span></div>
    <div>Gender: {{gender}}</div>
  </md-card-content>
</md-card>
