.example-card {
  width: 30%;
  margin: 0 auto;
  margin-top: 60px;
  overflow: hidden;
}

@media (max-width: 640px) {
  .example-card {
    width: 70%;
  }
}

@media (min-width: 640px) and (max-width: 800px) {
  .example-card {
    width: 55%;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .example-card {
    width: 40%;
  }
}

.example-header-image {
  background-size: cover;
}
