.full-width {
  margin: 0 auto;
}

h1 {
  margin-top: 60px;
  font-family: 'Roboto';
  text-align: center;
  color: #262626;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.flex-item {
  max-width: 50%;
}

/*.flex-item-top {*/
  /*align-self: flex-start;*/
/*}*/

.result {
  position: absolute;
  top:0;
  left:0;
  text-align: center;
  font-size: x-large;
  color: greenyellow;
  min-width: 50%;
}

/*.animate-enter {*/
  /*-webkit-transition: 1s linear all; !* Chrome *!*/
  /*transition: 1s linear all;*/
  /*opacity: 0;*/
/*}*/

/*.animate-enter.animate-enter-active {*/
  /*opacity: 1;*/
/*}*/
