.header {
    width: 100%;
    /* min-width: 540px; */
    height: 270px;
    margin: 0;
    background-color: #262626;
    text-align: center;
    justify-content: center;
}

.content {
    padding: 50px;
}
h1 {
    font-family: 'Roboto';
    font-size: 40px;
    color: #fff;
}
