<form class='bf-form' #f="ngForm" (ngSubmit)="onSubmit(f.value)"  >
  <table class='bf-form-table full-width' cellspacing='0'>
    <tr>
      <td>
        <md-radio-group required class="gender-radio-group" name="gender" [(ngModel)]="gender">
          <md-radio-button [checked]="true" class="gender-radio-button" value="true">Male</md-radio-button>
          <md-radio-button class="bf-radio-button" value="false">Female</md-radio-button>
        </md-radio-group>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='full-width'>
          <input required mdInput placeholder='Username' name="username" [(ngModel)]="height">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='full-width'>
          <input required mdInput placeholder='Height(cm)' name="height" [(ngModel)]="neck">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='full-width'>
          <input required mdInput placeholder='Weight(kgs)' name="weight" [(ngModel)]="waist">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='full-width'>
          <input required mdInput placeholder='Target(kgs)' name="target" [(ngModel)]="hip">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <button md-raised-button type="submit">Next</button>
      </td>
    </tr>
  </table>
</form>
