<form class='bf-form' #f="ngForm" (ngSubmit)="onSubmit(f.value)"  >
  <table class='bf-form-table full-width' cellspacing='0'>
    <tr>
      <td>
        <md-radio-group required class="gender-radio-group" name="gender" [(ngModel)]="gender">
          <md-radio-button [checked]="true" class="gender-radio-button" value="true">Male</md-radio-button>
          <md-radio-button class="bf-radio-button" value="false">Female</md-radio-button>
        </md-radio-group>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='full-width'>
          <input required mdInput [placeholder]='heightPlaceholder' name="height" [(ngModel)]="height">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='full-width'>
          <input required mdInput [placeholder]='neckPlaceholder' name="neck" [(ngModel)]="neck">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='full-width'>
          <input required mdInput [placeholder]='waistPlaceholder' name="waist" [(ngModel)]="waist">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='full-width'>
          <input required mdInput [placeholder]='hipPlaceholder' name="hip" [(ngModel)]="hip">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <button md-raised-button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>
