<app-header></app-header>
<div class="content">
  <div *ngFor="let logo of logos; let i = index">
    <div *ngIf="i % 2" class='content-row'>
      <h2 *ngIf="small">{{logo.text}}</h2>
      <img src="{{logo.logoUrl}}" alt="logo">
      <h2 *ngIf="!small">{{logo.text}}</h2>
    </div>
    <div *ngIf="!(i % 2)" class='content-row'>
      <h2>{{logo.text}}</h2>
      <img src="{{logo.logoUrl}}" alt="logo">
    </div>
  </div>
  <a *ngIf="!isLoggedIn" md-raised-button [routerLink]="['/plan']">Get Started</a>
  <a *ngIf="isLoggedIn" md-raised-button [routerLink]="['/plan']">Calorie calculator</a>
  <a *ngIf="isLoggedIn" md-raised-button [routerLink]="['/bfc']">Body fat calculator</a>
</div>