.content {
    font-family: 'Roboto';
    text-align: center;
    margin-top: 60px;
}

.content a {
    margin: 60px 0 0 0;
}

.content-row {
    width: 100%;
    /* min-width: 540px; */
}
.content-row img {
    vertical-align: middle;
    margin: 0 50px; 
    width: 20%;
}

.content-row h2 {
    display: inline-block;
    margin: 0 50px;     
}

md-raised-button:hover {
    text-decoration: none;
}