<h1>{{title}}</h1>

<form class='example-form'>
  <table class='example-full-width' cellspacing='0'>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Age' name="age">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-radio-group class="example-radio-group">
          <md-radio-button required="" class="example-radio-button" *ngFor="let gender of genders; let idx = index"
                           [checked]="idx === 0" [value]="gender">
            {{gender}}
          </md-radio-button>
        </md-radio-group>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Height(cm)' name="height">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Weight(kgs)' name="weight">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Your dream weight(kgs)' name="weight">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput [min]="minDate" [max]="maxDate" [mdDatepicker]="picker" placeholder="Choose a date">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-select placeholder="Activity" name="activity">
          <md-option *ngFor="let activity of activities">
            {{activity}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr>
      <td>
        <button md-raised-button type="submit">Make your plan</button>
      </td>
    </tr>
  </table>
</form>
