<h1>{{title}}</h1>

<form class='example-form'>
  <table class='example-full-width' cellspacing='0'>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Age' name="age">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-radio-group class="example-radio-group">
          <md-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
            {{gender}}
          </md-radio-button>
        </md-radio-group>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Height(cm)' name="height">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Weight(kgs)' name="weight">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-select placeholder="Activity" name="activity">
          <md-option *ngFor="let activity of activities">
            {{activity}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr>
      <td>
        <button md-raised-button type="submit">Make your plan</button>
      </td>
    </tr>
  </table>
</form>