<h1>{{title}}</h1>

<form class='example-form'>
  <table class='example-full-width' cellspacing='0'>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Username' name="username">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Height(cm)' name="height">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Weight(kgs)' name="weight">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='Target(kgs)' name="target">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input required mdInput placeholder='For how many days?' name="time">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <button md-raised-button type="submit">Make your plan</button>
      </td>
    </tr>
  </table>
</form>